<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BT_QuanLyThuVien.Properties.Settings.Nhom7_QuanLyThuVienConnectionString"
            connectionString="Data Source=LAPTOP-GE6JARV0\SQLEXPRESS;Initial Catalog=Nhom7_QuanLyThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>